<% present(@search, SearchPresenter) do |presenter| %>

  <%= simple_form_for :room_search, url: '/', method: 'GET' do |f| %>
    <%= f.input :start_date, :as => :hidden, :input_html => { :value => presenter.start_date.strftime('%F'), id: 'start_date', name: 'start_date' } %>
    <%= f.input :end_date, :as => :hidden, :input_html => { :value => presenter.end_date.strftime('%F'), id: 'end_date', name: 'end_date' } %>
    <%= f.input :currency, :as => :hidden, :input_html => { :value => currency, id: 'currency', name: 'currency'} %>


    <div id="calendar_breadcrumb" class="row ">
      <div class="large-5 columns small-centered">
        <div class="calendar_checkin_date calendar_date_button">
          <span class="date">
            <span class="date_inner"><%= presenter.start_date.day %></span>
          </span>
          <div>
            <span class="date_detail">
              <span class="date_label">Check-in</span>
              <span class="date_string"><%= presenter.check_in %></span>
            </span>
          </div>
        </div>
        <div class="calendar_checkout_date calendar_date_button">
          <span class="date">
            <span class="date_inner"><%= presenter.end_date.day %></span>
          </span>
          <div>
            <span class="date_detail">
              <span class="date_label">Check-out</span>
              <span class="date_string"><%= presenter.check_out %></span>
            </span>
          </div>
        </div>
         <%= f.button :submit, 'Search', class: 'small' %>
        <div id="datepicker"></div>
      </div>
    </div>
    

  <% end %>

<% end %>