<div id="wrapper"  ng-controller="HotelsCtrl">
  <header class="container">
    <div class="row">
      <div class="col-md-2 col-sm-12 masthead">
          <a id="logo" href="/" target="_self">
              Hot5
          </a>
      </div>
      <div class="col-md-10 col-sm-12">
        <form id="search" ng-submit="searchCity()" target="_self">
          <div class="row">
            <div class="col-lg-5 col-md-12 place">
              <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Find a place..." autocomplete="off" id="search-input" />
                <div class="input-group-btn" id="search-geo" style="display: none">
                  <button class="btn btn-primary">
                    <i class="fa fa-location-arrow"></i>
                  </button>
                </div>
                <div class="input-group-addon" ng-click="searchCity()">
                  <i class="fa fa-search"></i>
                </div>
              </div>
            </div>
            <div class="col-lg-5 col-md-12">
              <div class="row input-daterange dates">
                <div class="col col-xs-6">
                  <div class="input-group">
                    <input type="text" id="start_date" name="start_date" class="form-control" checkin placeholder="Check In..." value="<%=start_date.strftime('%a %d %b')%>" autocomplete="off" readonly="readonly" />
                    <div class="input-group-addon addon-hidden-sm" onclick="$('#start_date').datepicker('show');">
                      <i class="fa fa-calendar"></i>
                    </div>
                  </div>
                </div>
                <div class="col col-xs-6">
                  <div class="input-group">
                    <input type="text" name="end_date" id="end_date" class="form-control" checkout value="<%=end_date.strftime('%a %d %b')%>" placeholder="Check Out..." autocomplete="off" readonly="readonly" />
                    <div class="input-group-addon addon-hidden-sm" onclick="$('#end_date').datepicker('show');" >
                      <i class="fa fa-calendar"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-md-12 submit">
              <button type="submit" class="btn btn-primary search">
                <i class="fa fa-search"></i>
                Search
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </header>
    <section ng-init="setupPage(<%=@results.as_json%>)" ng-cloak>
      <div class="container">
        <div class="top-bar">
          <div class="map-buttons visible-sm visible-xs">
            <div class="map-hidden">
              <a href="#" show-map class="btn btn-default">
                <i class="fa fa-map-marker"></i>&nbsp;
                Map
              </a>
            </div>

            <div class="map-visible">
              <a href="#" onclick="app.showResults();return false" class="btn btn-default">
                <i class="fa fa-caret-left"></i>&nbsp;
                Back to Results
              </a>
            </div>
          </div>
          <div class="info">
            <div class="col-xs-6">
              <h4 ng-cloak>{{Page.info.query}} hotels</h4>
            </div>
            <div class="col-xs-6 text-right" >
              <h4>{{Page.criteria.start_date | date:'MMM d'}} - {{Page.criteria.end_date | date:'MMM d'}} ({{Page.criteria.total_nights}} Night)</h4>
            </div>
          </div>
        </div>
        <%= render partial: 'filters' %>
      </div>
    </section>
    <%= render partial:'layouts/footer' %>
</div>
