<%# refresh meta_refresh %>

<div id="wrapper">
  <div id="redirect" class="container">
    <div class="message">
        Please wait whilst we take you to
    </div>
    <div class="logo">
        <%= image_tag "logos/#{provider}.gif", alt: provider %> </h4>
    </div>
    <div id="hotel">
        <section>
            <div class="image" style='<%="background-image: url(#{hotel_image_src(hotel_image)});"%>'>
              <% if saving > 0 and max_price.to_f > price.to_f %>
                <div class="savings">
                    Save <%= saving %>%
                </div>
              <% end %>
            </div>
            <div class="details">
                <h4><%= hotel.name %></h4>
                <div class="location">
                    <i class="fa fa-map-marker"></i> <%= "#{hotel.address}, #{hotel.city}"%>
                </div>
                <ul class="summary">
                    <li>From <%= start_date.strftime('%d/%m/%Y') %></li>
                    <li>To <%= end_date.strftime('%d/%m/%Y') %></li>
                </ul>
                  <div class="stars">
                    <% 5.times do |index| %>
                      <%= display_star_rating index, hotel.star_rating %>
                    <% end %>
                  </div>
            </div>
            <div class="best-deal">
                
                  <div class="high-price">
                    <% if max_price.to_f > 0 and max_price > price %>
                      <%= "#{search_criteria.currency_symbol}#{max_price}" %>
                      <% end %>
                  </div>
                
                <div class="price">
                    <%= "#{search_criteria.currency_symbol}#{price}" %>
                </div>
            </div>
        </section>
    </div>
  </div>
</div>
<%= render partial: 'shared/google_tmi' %>
<script>
$(function(){
  setTimeout(function () {    
    window.location.replace('<%= target_url.html_safe %>')
  }, 2500);
})
</script>