<!DOCTYPE html>
<html ng-app="Hot5">
<head>
  <title>Hot5 Mobile Hotel Search - Compare the major travel sites to find the cheapest hotels.</title>
  <meta name="description" content="Hot5 compares all leading hotel booking engines, to find you the best price.">
  <meta name="keywords" content="hot5, hotel, hotels, booking, location, vacation, hotel comparison, hotel compare, best hotel price">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <% set_meta_tags :og => {
    type: 'website',
    title: hotel.name,
    url: request.original_url,
    image: hotel.image_url,
    description: truncate(hotel.description, separator:'.', escape: false, length: 500, omission:'.'),
    site_name: 'Hot5.com'
    } %>

  <%= display_meta_tags %>
  <%= csrf_meta_tags %>  
  <%= jquery_include_tag :google %>
  <%= render partial:'shared/facebook_tag' %>
</head>
  <body >
    <%= render partial:'shared/google_tag_manager' %>
    <%= render partial: 'shared/google_tmi' %>
    <%= render partial:'shared/tracking' %>
    <script>
    $(function(){
      setTimeout(function () {    
        window.location.replace('<%= target_url.html_safe %>')
      }, 1000);
    })
    </script>
  </body>
</html>
