
<div id="wrapper" ng-controller="HotelCtrl" ng-init="setupPage(<%=hotel_view.as_json%>)">
  <header class="container">
    <div class="row">
      <div class="col-md-2 col-sm-12 masthead">
        <a id="logo" href="/" target="_self">
            Hot5
        </a>
      </div>
      <div class="col-md-10 col-sm-12">
        <form id="search" ng-submit="searchCity()" target="_self">
          <div class="row">
            <div class="col-lg-5 col-md-12 place">
              <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Find a place..." autocomplete="off" id="search-input" />
                <div class="input-group-btn" id="search-geo" style="display: none">
                  <button class="btn btn-primary">
                    <i class="fa fa-location-arrow"></i>
                  </button>
                </div>
                <div class="input-group-addon" ng-click="searchCity()">
                  <i class="fa fa-search"></i>
                </div>
              </div>
            </div>
            <div class="col-lg-5 col-md-12">
              <div class="row input-daterange dates">
                <div class="col col-xs-6">
                  <div class="input-group">
                    <input type="text" id="start_date" name="start_date" class="form-control" checkin placeholder="Check In..." value="<%=start_date.strftime('%a %d %b')%>" autocomplete="off" readonly="readonly" />
                    <div class="input-group-addon addon-hidden-sm" onclick="$('#start_date').datepicker('show');">
                      <i class="fa fa-calendar"></i>
                    </div>
                  </div>
                </div>
                <div class="col col-xs-6">
                  <div class="input-group">
                    <input type="text" name="end_date" id="end_date" class="form-control" checkout value="<%=end_date.strftime('%a %d %b')%>" placeholder="Check Out..." autocomplete="off" readonly="readonly" />
                    <div class="input-group-addon addon-hidden-sm" onclick="$('#end_date').datepicker('show');">
                      <i class="fa fa-calendar"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-md-12 submit">
              <button type="submit" class="btn btn-primary search">
                <i class="fa fa-search"></i>
                Search
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </header>
  <section >
    <div class="container">
      <div class="top-bar">
        <div class="info">
          <div class="col-md-7 col-sm-12">
            <h3>{{hotel.name}}</h3>
          </div>
          <div class="col-md-5 hidden-sm hidden-xs">
            <div class="stars">
              <i class="fa" ng-class="{'fa-star-half-empty': hotel.star_rating===0.5, 'fa-star':hotel.star_rating>0.5, 'fa-star-o': hotel.star_rating<0.5}"></i>
              <i class="fa" ng-class="{'fa-star-half-empty': hotel.star_rating===1.5, 'fa-star':hotel.star_rating>1.5, 'fa-star-o': hotel.star_rating<1.5}"></i>
              <i class="fa" ng-class="{'fa-star-half-empty': hotel.star_rating===2.5, 'fa-star':hotel.star_rating>2.5, 'fa-star-o': hotel.star_rating<2.5}"></i>
              <i class="fa" ng-class="{'fa-star-half-empty': hotel.star_rating===3.5, 'fa-star':hotel.star_rating>3.5, 'fa-star-o': hotel.star_rating<3.5}"></i>
              <i class="fa" ng-class="{'fa-star-half-empty': hotel.star_rating===4.5, 'fa-star':hotel.star_rating>4.5, 'fa-star-o': hotel.star_rating<4.5}"></i>
            </div> 
          </div>
        </div>
      </div>
        <div id="hotel">
          <div class="info-bar">
            <div class="row">
              <div class="col-lg-6 col-sm-12">
                <div class="location">
                  <i class="fa fa-map-marker"></i>&nbsp;
                  <span class="capitalize">{{hotel.address}}, {{hotel.city}}</span>
                </div>
              </div>
              <div class="col-lg-6 col-sm-12 best-deal" ng-show="hotel.rooms">
                Best deal <span class="price">{{hotel.rooms[0].price | price:currency_symbol:0}}</span>
                <a class="btn  btn-lg  btn-success" get-deal="{{hotel.rooms[0].link}}" data-hotel-id="{{hotel.id}}" data-provider="{{hotel.rooms[0].provider}}" data-price="{{hotels.room[0].price}}" data-saving="{{saving(hotel)}}" data-max-price="{{hotel.offer.max_price}}"  target="_blank">
                  See Deal
                </a>
              </div>
            </div>
          </div>
            <div class="row details">
              <div class="col-md-12">
                <ul class="top-thumbs hidden-md hidden-sm hidden-xs">
                  <li ng-repeat="image in hotel.images.slice(0,5)" >
                    <a href="#gallery" style="background-image: url({{image.url}})" >
                      &nbsp;
                    </a>
                  </li>
                  <li style="width: {{mapWidth()}}%">
                    <div class="small-map" id="small-map">
                    </div>
                  </li>
                </ul>
                <div id="main-text">
                  <h3>Details</h3>
                  <p ng-bind-html="hotel.description"></p>
                </div>
                <a href="#" onclick="$('#main-text').addClass('read');$(this).remove();return false;">Read More...</a>
              </div>
            </div>
            <div class="amenities">
              <h3>Amenities</h3>
              <ul class="list">
                <li class="wifi" ng-class="{highlight: checkAmenity(1)}" >WiFi</li>
                <!-- <li class="central-location" ng-class="{highlight: checkAmenity(2)}">Central Location</li> -->
                <li class="family-friendly" ng-class="{highlight: checkAmenity(4)}">Family Friendly</li>
                <li class="parking" ng-class="{highlight: checkAmenity(8)}">Parking</li>
                <li class="gym" ng-class="{highlight: checkAmenity(16)}">Gym</li>
                <!-- <li class="boutique" ng-class="{highlight: checkAmenity(32)}">Boutique</li> -->
                <li class="non-smoking-rooms" ng-class="{highlight: checkAmenity(64)}">Non-smoking rooms</li>
                <li class="pet-friendly" ng-class="{highlight: checkAmenity(128)}">Pet friendly</li>
                <li class="pool" ng-class="{highlight: checkAmenity(256)}">Pool</li>
                <li class="restaurant" ng-class="{highlight: checkAmenity(512)}">Restaurant</li>
                <li class="spa" ng-class="{highlight: checkAmenity(1024)}">Spa</li>
              </ul>
            </div>
            <hr />
            <%= render partial: 'shared/ratings' %>
            <div class="rooms">
              <h3>Best Deals</h3>
              <div class="loader" ng-show="!hotel.rooms">
                <i class="fa fa-gear fa-spin"></i>
                Finding the best rooms...
              </div>
              <%= render partial: 'shared/rooms' %>
            </div>
            <hr />
            <div class="tab-gallery" id="gallery">
                <h3>Gallery</h3>
                <div class="photo">
                  <img ng-src="{{headerImage()}}">       
                </div>
                <ul class="thumbs" ng-cloak>
                  <li ng-repeat="image in hotel.images" >
                      <a href="#" show-image="{{image.url}}" style="background-image: url({{image.thumbnail_url}})" >
                          &nbsp;
                      </a>
                  </li>   
                </ul>
            </div>
            <hr />
            <div class="map" >
                <h3>Location</h3>
                <div style="height:378px;background-color: #ccc;" id="hotel_map">Map here</div>
            </div>
        </div>
    </div>
  </section>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <ul class="menu">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Terms and Conditions</a></li>
          </ul>
        </div>
        <div class="col-md-3 copyright">
            &copy; 2013 Hot5.com
        </div>
      </div>
    </div>
  </footer>
</div>
