<!DOCTYPE html>
<html ng-app="Hot5">
<head>
    <title>Hot5 Hotel Search - Compare the major travel sites to find the cheapest hotels.</title>
    <meta name="description" content="Hot5 compares all leading hotel booking engines, to find you the best price.">
    <meta name="keywords" content="hot5, hotel, hotels, booking, location, vacation, hotel comparison, hotel compare, best hotel price">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="//fast.fonts.net/cssapi/9a61c6c9-8114-405c-9358-29dcb0b2c617.css"/>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" />

    <%= stylesheet_link_tag    "application" %>  
    <%= csrf_meta_tags %>  

    <script src="http://js.pusher.com/2.1/pusher.min.js"></script>

    <%= jquery_include_tag :google %>
    <%= javascript_include_tag "application" %>
    
    <script>
      Hot5.Connections.Pusher.init('<%= Pusher.key %>').subscribe('<%= @user_channel || "open"%>')
    </script>

</head>
<body >
  <%= render partial:'shared/google_tag_manager' %>
   <%= yield %>
   <%= render partial:'shared/google_analytics' %>
</body>
</html>