<!DOCTYPE html>
<html ng-app="Hot5">
<head>
    <title><%="#{hotel.name_with_city} - Compare Hotel Prices, find the best deal at Hot5.com "%></title>
    <meta name="description" content='<%="The best deals on #{hotel.name_with_city} – Find the best price with Hot5.com and book. Also compare prices on hotels near #{hotel.name_with_city}."%>'>
    <meta name="keywords" content='<%="#{hotel.name_with_city}, #{hotel.city} hotels, #{hotel.name} Hotel"%>'>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="//fast.fonts.net/cssapi/9a61c6c9-8114-405c-9358-29dcb0b2c617.css"/>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" />

    <% set_meta_tags :og => {
      type: 'website',
      title: hotel.name,
      url: request.original_url,
      image: hotel.image_url,
      description: truncate(hotel.description, separator:'.', escape: false, length: 500, omission:'.'),
      site_name: 'Hot5.com'
      } %>

    <%= display_meta_tags %>


    <%= stylesheet_link_tag    "hotel_manifest" %>  
    <%= csrf_meta_tags %>

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script src="http://js.pusher.com/2.1/pusher.min.js"></script>

    <%= jquery_include_tag :google %>
    <%= javascript_include_tag "application" %>
    
    <script>
      Hot5.Connections.Pusher.init('<%= Pusher.key %>').subscribe('<%= @user_channel || "open"%>')
    </script>
</head>
<body >
  <%= render partial:'shared/google_tag_manager' %>
   <%= yield %>
  <%= render partial:'shared/tracking' %>
</body>
</html>